# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
._*

# Release artifacts
dist/
*.dmg
